<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Change Password</title>
	<link rel="stylesheet" href="/css/basePage.css">
</head>

<body th:style="'background-color:'+${backgroundColor}">	
	<div class="container">
	<h1>Change Password</h1><br><br>
	
	<form th:action="@{/settings/changePassword}" method="post">
		<label for="currentPassword">Current password:</label>
		<input type="password" id="currentPassword" name="currentPassword" required><br><br>
		
		<label for="newPassword">New password:</label>
		<input type="password" id="newPassword" name="newPassword" required><br><br>
		
		<label for="confirmPassword">Confirm new password:</label>
		<input type="password" id="confirmPassword" name="confirmPassword" required><br><br>
		
		<button type="submit">submit</button>
	</form>
	
	<div th:if="${error}">
		<p th:text="${error}" style="color:#8B0000;">Error message here</p>
	</div>
</div>
</body>
</html>
		