<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset password</title>
	<link rel="stylesheet" type="text/css" href="/css/authPage.css">
</head>
<body>
	
	<div class="container">
		
    <h1>Reset password</h1><br><br>
	<form th:action="@{/resetPassword}" method="post">
		<input type="email" id="email" name="email" required placeholder="Email">
		<button type="submit">submit</button>
	</form><br><br>
	
	<div th:if="${email}">
		<p>We sent a verification code to your email.To reset your password please introduce the code and the new password.The verification code expires in 15 minutes.</p>
		<form th:action="@{/resetPassword/request}" method="post">
			<input type="hidden" name="email" th:value="${email}">
			
			<label for="verificationCode">Verification code:</label>
			<input type="text" id="verificationCode" name="verificationCode" required><br><br>
			
			<label for="newPassword">New password:</label>
			<input type="password" id="newPassword" name="newPassword" required>
			
			<button type="submit" style="display: inline;">submit</button>
		</form>
			<div th:if="${error2}">
					<p th:text="${error2}" style="color:#8B0000;">Error message</p>
					<span th:if="${error2=='The time expired!'}">Resend email:</span>
					<form th:action="@{/resetPassword}" method="post" style="display:inline;">
						<input type="hidden" name="email" th:value="${email}">
						<button type="submit" style="display:inline;">resend</button>
					</form>
				</div>
	</div>
	<p th:if="${error1}">
		<span th:text="${error1}" style="color:#8B0000;">Error message</span>
	</p>
	
</div>
</body>
</html>